.progessBar{
height: 2rem;
width: 0%;
background-color: rgba(255, 0, 104, 0.79);
color: #262626;
padding:2px;
}

.file-upload{
padding: 2rem;
display: flex;
flex-direction: column;

justify-content: space-between;
background-color: white;
color: #262626;
}

.upbutton{
 width: 5rem;
 padding: .5rem;
 background-color: #262626;
 color: #ffffff;
 font-size: 1rem;
 cursor: pointer;
 border: none;
}

p {
  font-size: 26px;
  display: inline-block;
}

.color-red {
  color: rgba(255, 0, 104, 0.79);
}